<h1>Historic Search & Downloads</h1>

<div class="container">
<div class="row">

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Searches</th>
      <th>Downloads</th>
      <th>Top searches</th>
      <th>Top tickers</th>
      <th>Top years</th>
    </tr>
  </thead>

  <tbody>
    <% @historic_search_summaries.each do |historic_search_summary| %>
      <tr>
        <td><%= historic_search_summary.start_date %></td>
        <td><%= historic_search_summary.end_date %></td>
        <td><%= historic_search_summary.num_searches %></td>
        <td><%= historic_search_summary.num_downloads %></td>
        <td><%= historic_search_summary.top_searches %></td>
        <td><%= historic_search_summary.top_tickers %></td>
        <td><%= historic_search_summary.top_years %></td>
        <!-- td><%= link_to 'Show', historic_search_summary %></td>
        <td><%= link_to 'Edit', edit_historic_search_summary_path(historic_search_summary) %></td>
        <td><%= link_to 'Destroy', historic_search_summary, method:
        :delete, data: { confirm: 'Are you sure?' } %></td -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Historic search summary', new_historic_search_summary_path %>

</div>
</div>
