<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @site_event.event %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @site_event.time.to_s %>
</p>

<%= link_to 'Edit', edit_site_event_path(@site_event) %> |
<%= link_to 'Back', site_events_path %>
