<%= simple_form_for @contact, :html => {:class => 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }  do |f| %>
<fieldset>
  <legend>Let Us Know What You Think</legend>
  <%= f.input :name, placeholder: 'Your name', :required => true,
  :input_html => { maxlength:5, size:10 } %>
  <%= f.input :email, placeholder: 'Enter email (optional)',
:input_html => { maxlength:5, size:10 } %>
  <%= f.input :title, placeholder: 'Message title', :required => true %>
  <%= f.input :message, :as => :text, :required => true %>
  <div class= "hidden">
    <%= f.input :nickname, :hint => 'Leave this field blank!' %>
  </div>
  <div class="form-actions center">
     <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
  </div>
</fieldset>
<% end %>
