<%= form_for(@search,  :html => { class: 'form-horizontal'} ) do |f| %>
<fieldset>  
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>
      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="search-form-body"> 
    <!-- legend> Search for any company's annual report</legend -->
    <div class="form-group "> 
      <label class="col-xs-5 control-label">Ticker</label> 
      <div class="col-xs-7">
        <%= f.collection_select(:ticker, Stock.order(:ticker), :ticker,
                                             :ticker, selected:'IBM' ) %>
       <p class="help-block">Select a company</p>
      </div>
    </div>
    <div class="form-group "> 
      <label class="col-xs-5 control-label">Year</label> 
      <div class="col-xs-7">
         <%= f.select(:year, options_for_select((2015.downto(1983)).to_a.map{|s|
                                           [s, s]}, selected:2014) ) %>
         <p class="help-block">Select year of annual report</p>
      </div>
    </div>
    <div class="actions center">
      <%= f.submit "Get the Spreadsheet!", :class=> "btn btn-primary" %>
    </div>
  </div>
</fieldset>  
<% end %>
