<%= form_for(@search,  :html => { class: 'form-horizontal'} ) do |f| %>
<fieldset>  
  <% if @search.errors.any? %>
    <div id="error_explanation" class="center">
      <h3><%= pluralize(@search.errors.count, "problem") %> prohibited
      searching for statements: </h3> 
    </div>
  <% end %>
  <div id="search-form-body"> 
    <!-- legend> Search for any company's annual report</legend -->
    <div class="form-group row"> 
      <label class="col-xs-5 control-label ticker">Ticker</label> 
      <div class="col-xs-3">
        <%= f.text_field :ticker, class: 'form-text-field', maxlength: 4, size: 5, placeholder:"IBM" %>
        <% if f.object.errors[:ticker] %>
          <span class="error-note">
            <%= f.object.errors[:ticker].join(", ") %>
          </span>
        <% end %>
        <!-- %= f.collection_select(:ticker, Stock.order(:ticker), :ticker,
                                             :ticker, selected:'IBM' )
                                             % -->
       <p class="help-block">Enter a ticker symbol</p>
      </div>
    </div>
    <div class="form-group"> 
      <label class="col-xs-5 control-label">Year</label> 
      <div class="col-xs-7">
         <%= f.select(:year, options_for_select((2015.downto(1990)).to_a.map{|s|
                                           [s, s]}, selected:2014) ) %>
         <p class="help-block">Select a year to get financials for</p>
      </div>
    </div>
    <div class="actions center">
      <%= f.submit "Get the Spreadsheet!", :class=> "btn btn-primary" %>
    </div>
  </div>
</fieldset>  
<% end %>
