<h1>Searches</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Year</th>
      <th>Time</th>
      <th>Found</th>
      <th>FileName</th>
      <th>Downloaded</th>
      <th>IP</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% old_date = @searches.first.created_at.to_date %>
    <% @searches.each do |search| %>
      <% new_date = search.created_at.to_date %>
      <% if new_date != old_date %>
        <tr class="date-breaker">
          <td class="bold">  <%= new_date %>  </td>
          <td> Total:  <%= Search.where(:created_at => new_date.beginning_of_day..new_date.end_of_day).size %>  </td>
          <td> Downloads:  <%=  Search.where(:created_at => new_date.beginning_of_day..new_date.end_of_day, file_downloaded: true).size %>  </td>
        </tr>
        <% old_date = new_date %>
      <% end %>
      <tr>
        <td><%= search.ticker %></td>
        <td><%= search.year %></td>
        <td><%= search.created_at.time.to_s[0..-5] %></td>
        <td><%= search.file_found %></td>
        <td><%= search.file_name %></td>
        <td><%= search.file_downloaded %></td>
        <td><%= search.request_ip %></td>
        <td><%= search.ip_location %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search_path %>
