<h1>Searches</h1>

<table class="table-hover">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Year</th>
      <th>Filing</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.ticker %></td>
        <td><%= search.year %></td>
        <td><%= search.filing %></td>
        <td><%= search.created_at %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search_path %>
