<p id="notice"><% notice %></p>

<div>
  <%- if @down_link == "--"%>
  <p>
    Sorry, we can't get  
    <strong>Ticker:</strong>
    <%= @search.ticker %> for <%= @search.year %>
    <p>Please try again later, or contact us, and we will try to help.</p>
  </p>
  <%- else %>
  <p>
    Found Spreadsheet for 
    <strong>Ticker:</strong>
    <%= @search.ticker %> for <%= @search.year %>
  </p>
  <p>
    <%= link_to 'Click to Download', @down_link %>
  </p>
  <%- end %>
<%= link_to 'Get another Spreadsheet', new_search_path %>
