<p id="notice"><% notice %></p>
<div class="row center">
  <%- if @down_link == "--"%>
    Sorry, we couldn't get the statement for 
    <%= @search.ticker %> for <%= @search.year %>
    Please try again later, or contact us, and we will try to help.
  <%- else %>
    Found Spreadsheet for 
    <%= @search.ticker %> for <%= @search.year %> :
    <%= link_to 'Download', @down_link, type:'button', class:'btn-success' %>
  <%- end %>
</div>
<div class="row center">
  <%= link_to 'Get another Spreadsheet', excel_statements_path %>
</div>
