<!DOCTYPE html>
<html land="en">
  <head>
    <title>Excel Spreadsheets of Financial Statements</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <meta name="description" content="Get Excel spreadsheets of
    financial statements for any company. Search by company ticker and
    year, and get the reports!">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/shim' %>
    <%= render 'layouts/ga' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
