<!DOCTYPE html>
<html land="en">
  <head>
    <title>Excel Spreadsheets of Financial Statements</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= yield :metadesc %>
    <%= yield :canonical %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/shim' %>
    <%= render 'layouts/ga' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

      <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
